$header: #436372;
$hover: #a3bbc8;
$footer: #7b7b7b;
$title: #191919;
$border: #f6f6f6;

%museo-300 {
    font-family: "MuseoSansCyrl";
    font-weight: 300;
}
%museo-700 {
    font-family: "MuseoSansCyrl";
    font-weight: 700;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}
